<div class="panel panel-dark fixed-bottom bg-dark">
        {{site.description}} <br>
        Twitter: {{site.twitter_username}}  Github: {{site.github_username}}
</div>
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
          }
        });
        </script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<!-- <script type="text/javascript">
        $("script[type='math/tex']").replaceWith(
          function(){
            var tex = $(this).text();
            return "<span class=\"inline-equation\">" + 
                   katex.renderToString(tex) +
                   "</span>";
        });
        
        $("script[type='math/tex; mode=display']").replaceWith(
          function(){
            var tex = $(this).text();
            return "<div class=\"equation\">" + 
                   katex.renderToString("\\displaystyle "+tex) +
                   "</div>";
        });
        </script> -->